docopt
tqdm
spacy==2.2.3
mosestokenizer
google-cloud-translate==1.7.0


# Russian & Ukranian morphology
git+https://github.com/kmike/pymorphy2
pymorphy2-dicts-ru
pymorphy2-dicts-uk

# Czech parser
ufal.morphodita
# Evaluating Gender Bias in Machine Translation


# Requirements
* [fast_align](https://github.com/clab/fast_align): install and point an environment variable called `FAST_ALIGN_BASE` to its root folder (the one containing the `build` folder).

### Evaluation in Polish


* Download and install Morfeusz2. Bindings for python and instruction are available at: http://morfeusz.sgjp.pl/download/en
* Download custom spaCy model (name should being with `pl_spacy_model_morfeusz`) from http://zil.ipipan.waw.pl/SpacyPL
* Install downloaded spaCy model:

      python -m pip install PATH/TO/pl_spacy_model_morfeusz-x.x.x.tar.gz

# Install python 3.6
You need to use a python version compatible with tensorflow (like python 3.6.8).
Install conda and run:
conda create -y -n py36 python=3.6.8

### API KEY
To use Amazon translate, Google translate and others you need to create and get your api key



